<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book List</title>
        <link rel="stylesheet" href="/styles/output.css">
    </head>
    <body class="firstTry">
        <h1 class="text-red-500 text-[64px]">Hello</h1>
    </body>
</html>